<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails101
        <br>Design by
        <a href="https://desolate-garden-57282.herokuapp.com/topics/new" target=_new>HSY</a>
    </p>
</footer>
